
@{
    Layout = "~/Views/Shared/admnmenu_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rezervasyon_bilgi</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
